.aboutme-round-sm{
      width: 100%;
      min-height: 100px; 
      border-radius: 10px; 
      -moz-box-shadow: 0px 3px 15px rgb(196, 228, 198);
      -webkit-box-shadow: 0px 3px 15px rgb(196, 228, 198);
      box-shadow: 0px 3px 15px rgb(196, 228, 198);
      display: flex;
      flex-direction: column;
      justify-content: center; 
}
.bg-blueish { 
  background-color: rgb(215, 229, 252); 
  text-align: left;
}
.bg-berry { 
  background-color: rgb(218, 235, 243);
  text-align: left;
}
.bg-light-red { 
  background-color: rgb(253, 229, 237);
  text-align: left;
}
.bg-redish { 
  background-color: rgb(255, 218, 219);
  text-align: left;
}
.bg-greenish { 
  background-color: rgb(229, 255, 218);
  text-align: left;
}
.bg-yellowish { 
  background-color: rgb(247, 247, 181);
  text-align: left;
}
.bg-dark-blueish { 
  background-color: rgb(32, 39, 60); 
  text-align: left;
}
.bg-dark-berry { 
  background-color: rgb(28, 44, 64);
  text-align: left;
}
.bg-dark-light-red { 
  background-color: rgb(61, 38, 58);
  text-align: left;
}
.bg-dark-redish { 
  background-color: rgb(67, 30, 42);
  text-align: left;
}
.bg-dark-greenish { 
  background-color: rgb(229, 255, 218);
  text-align: left;
}
.bg-dark-yellowish { 
  background-color: rgb(247, 247, 181);
  text-align: left;
}
.btnSelectedStyle{
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  padding: 4px 10px;
  display: inline-block;

}
.btnStyle{
  border: none;
  background-color: transparent;
  color: #000000;
  padding: 4px 10px;
  display: inline-block;
}
.tab-btn-wrapper{ 
  border-radius: 20px;
  background-color: #FFFFFF;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
} 
.tab-btn-wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.rounded-10 {
  border-radius: 10px;
}