.ND-drop-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ND-icon-button {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    background-color: rgb(139, 138, 138);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}
.ND-icon-button:hover {
    cursor: pointer;
    filter: brightness(1.2);
    color: #FFFFFF;
} 
.ND-dropdown {
    position: absolute;  
    top: 58px;
    width: 320px;
    transform: translateX(-45%);
    background-color: rgb(242, 242, 242);
    border: 1px solid #a9b3bd;
    border-radius: 5px;
    padding: 0.6rem;
    overflow: scroll;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    transition: height 500ms; 
    z-index: 1;
  } 
  
  .ND-menu-item:hover {
    background-color: var(--light);
    cursor: pointer;
  }
  .ND-icon-img {
    width: 35px !important;
    height: 35px !important;
    background-color: #eee;
    border-radius: 10px; 
    object-fit: cover;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    overflow: hidden;
  }
  @media screen and (max-width: 500px) {
    .ND-dropdown {
        width: 250px;
    }

  }