.toolbar{
      position: relative;
      width: 100%;
      background-color:transparent;
      top: 0;
      left: 0;
      height: 60px;

}

.toolbar__navigation{
      display: flex; 
      height: 100%; 
      align-items: center;
      justify-content: space-around;
      padding: 0 1rem;
}

.toolbar__logo{
      margin-left: 2rem;
}

.toolbar__logo a {
      color: black;
      text-decoration: none;
      font-size: 2rem;
}

.spacer{
      flex: 1 !important;
}
.toolbar_navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
}
.toolbar_navigation-items .btn-div {
      float: right;
}
.toolbar_navigation-items li {
      padding: 0 0.5rem;
}

.toolbar_navigation-items a {
      color: black;
      text-decoration: none;
      font-size: 18px;
}


.navbar__link {
      cursor: pointer;
      text-decoration: none;
      color: #181818;
      border-bottom: 3px solid transparent;
}

.navbar__link:hover {
      transform: translateY(-2px);
       color: #067d1f !important;
}

.navbar__link--active {
      border-bottom: 3px solid #067d1f;
      color: #067d1f !important;

}
@media (min-width: 900px) {
      .toolbar__logo {
            margin-left: 160px !important;
      }

}
@media (max-width: 899px) {
      .toolbar__logo {
            width: 100%;
            text-align: center;
      }

}

.sbtn {
      flex-shrink: 0;
}
.fbtn {
      flex-shrink: 0;
}

@media (max-width: 768px)
{
       
      .toolbar_navigation-items {
            display:none;
      }
      .sbtn {
            display: none;
      }

      .fbtn {
            display: none;
      } 

}

@media only screen and (max-width: 600px) {
     .l {
           margin-top: 14px !important;
           margin-left: -80px !important;

     }

     .sbtn {
           display: none;
     }
     .fbtn {
           display: none;
     }
      
}

@media (min-width: 769px) {
      .toolbar__toggle-button {
            display: none;
      }
     
}

