:root {
    --green: #198754; 
    --secondary: #c8eddc;
    --light: #ebfcf8; 
  } 
.chart-wrapper .nav{
    background-color: rgb(231, 228, 228) !important; 
    color: #000000;   
}
.chart-wrapper-dark .nav{
    background-color: var(--dark-mode);
    color: #FFFFFF;   
}
@media (max-width: 640px){
    .chart-wrapper .nav{
        display:flex  
    }
    .chart-wrapper-dark .nav{
        display:flex  
    }
   .w-100-mob {
       width: 100%;
   }
   .chart-wrapper-dark .nav .nav-item .nav-link{
       padding-left: 0.8vh;
       padding-right: 1vh;
    }
}
.chart-wrapper .nav-pills{
    height: 33px;
}
.chart-wrapper-dark .nav-pills{
    height: 33px;
}
.chart-wrapper .nav .nav-item .nav-link{
    color: #000000;
    height: 33px;  
}
.chart-wrapper-dark .nav .nav-item .nav-link{
    color: #FFFFFF;
    height: 33px;  
}
.chart-wrapper .nav .nav-item .nav-link.active{
    color: #FFFFFF;
    background-color: var(--green); 
} 
.chart-wrapper-dark .nav .nav-item .nav-link.active{
    color: #FFFFFF;
    background-color: var(--green); 
} 
.rounded-10 {
    border-radius: 10px;
} 
.bg-dark-mode {
    background-color: var(--dark-mode);
}
@media (max-width: 800px){
    .side-btn-group-res {
        text-align: center;     
        margin-bottom: 20px;
        z-index: 1;
    }
    .side-btn-group-res button{
        margin: 5px; ;
    }   
} 
.wrap-150{
    max-width:150px;
    word-wrap:break-word;
}   